<%= turbo_frame_tag "profile_form" do %>
  <%= form_for(current_user, url: profile_path, html: { method: :put },
    class: 'mx-auto max-w-xs') do |f| %>
    <%= render "devise/shared/error_messages", resource: current_user %>

    <div class='mb-3'>
      <%= f.label :email, class: 'block text-gray-700 text-sm mb-2' %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email",
        class: 'w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white' %>
      
      <div class="mt-5 flex flex-col max-[430px]:space-x-0 max-[430px]:flex-col max-md:flex-row max-md:space-x-5 min-[930px]:flex-row min-[930px]:space-x-5">
        <div class="flex-1">
          <%= f.label :first_name, class: 'block text-gray-700 text-sm mb-2' %>
          <%= f.text_field :first_name, placeholder: "First Name",
            class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
        </div>

        <div class="flex-1 mt-5 max-[430px]:mt-5 max-md:mt-0 min-[930px]:mt-0">
          <%= f.label :last_name, class: 'block text-gray-700 text-sm mb-2' %>
          <%= f.text_field :last_name, placeholder: "Last Name",
            class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
        </div>
      </div>

      <div class="mt-5 flex flex-col max-[430px]:space-x-0 max-[430px]:flex-col max-md:flex-row max-md:space-x-5 min-[930px]:flex-row min-[930px]:space-x-5">
        <div class="flex-1">
          <%= f.label :phone_number, class: 'block text-gray-700 text-sm mb-2' %>
          <%= f.text_field :phone_number, placeholder: "Phone Number",
            class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
        </div>
        <div class="flex-1 mt-5 max-[430px]:mt-5 max-md:mt-0 min-[930px]:mt-0">
          <%= f.label :birth_date, class: 'block text-gray-700 text-sm mb-2' %>
          <%= f.date_field :birth_date, placeholder: "Birth Date",
            class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" %>
        </div>
      </div>
    </div>

    <button type='submit' class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
      </svg>
      <span class="ml-3">Update</span>
    </button>
  <% end %>
<% end %>

<div class="mt-6 text-xs text-gray-600 text-center">
  <div class="mb-4">
    Unhappy? <%= button_to "Cancel my account", profile_path,
      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
      method: :delete, class: "text-red-600 hover:text-red-800" %>
  </div>

  <div class='flex justify-between'>
    <%= link_to 'Change Password', profile_password_path, class: 'text-blue-600 hover:underline' %>
    <%= link_to 'Update Avatar', profile_avatar_path, class: 'text-indigo-600 hover:text-indigo-800' %>
  </div>

  <%= link_to 'Back', profile_path, class: 'text-indigo-600 hover:text-indigo-800' %>
</div>
