<div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
  <div class="max-w-screen-xl m-0 bg-white sm:m-10 shadow sm:rounded-lg flex justify-center flex-1">
    <div class="w-full">
      <img
        src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw5fHxjb3ZlcnxlbnwwfDB8fHwxNzEwNzQxNzY0fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
        alt="User Cover"
        class="rounded-t-lg w-full xl:h-[20rem] lg:h-[18rem] md:h-[16rem] sm:h-[14rem] h-[11rem]"
      />

      <div class="sm:w-[80%] w-[90%] mx-auto flex flex-row max-[550px]:flex-col">
        <%= link_to profile_avatar_path, title: 'Click to update your avatar',
          class: "group relative inline-block lg:bottom-[5rem] sm:bottom-[4rem] bottom-[3rem]" do %>
          <% if current_user.profile_avatar.attached? %>
            <%= image_tag current_user.profile_avatar, alt: "User Profile",
              class: "lg:h-[12rem] md:h-[10rem] h-[8rem] max-[550px]:mx-auto max-[550px]:max-h-[200px] rounded-lg relative" %>
          <% else %>
            <div class="lg:w-[12rem] lg:h-[12rem] md:w-[10rem] md:h-[10rem] w-[8rem] h-[8rem] max-[550px]:mx-auto max-[550px]:max-w-[200px] max-[550px]:max-h-[200px] rounded-lg relative flex items-center justify-center bg-blue-500 text-white rounded-full text-xl font-semibold">
              <%= short_name(current_user.full_name) %>
            </div>
          <% end %>
          <div class="flex items-center justify-center absolute rounded-lg inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="text-white" viewBox="0 0 16 16">
              <path d="M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z"></path>
            </svg>
          </div>
        <% end %>
        <div class='flex flex-col max-[550px]:items-center max-[640px]:pl-4 sm:items-start relative bottom-[3rem] min-[550px]:bottom-[0]'>
          <h1 class="mt-4 sm:mx-4 text-gray-800 lg:text-4xl md:text-3xl sm:text-3xl text-xl font-serif">
            <%= current_user.full_name %>
          </h1>
          <h1 class="sm:mx-4 text-gray-600 lg:text-2xl md:text-xl text-lg font-serif">
            <%= current_user.email %>
          </h1>
        </div>
      </div>

      <div class="xl:w-[80%] lg:w-[90%] md:w-[90%] sm:w-[85%] w-[90%] grid grid-cols-1 md:grid-cols-2 md:gap-6 mx-auto flex flex-col">
        <dl class="text-gray-900 divide-y divide-gray-200 dark:divide-gray-700 border-b-[1px] border-solid border-gray-200 dark:border-gray-700 md:border-none">
          <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg sm:text-md text-xs">Date Of Birth</dt>
            <dd class="text-md sm:text-lg font-semibold"><%= current_user.birth_date&.strftime("%B %d, %Y") %></dd>
          </div>
          <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg sm:text-md text-xs">Phone Number</dt>
            <dd class="text-md sm:text-lg font-semibold"><%= current_user.phone_number %></dd>
          </div>
        </dl>
        <dl class="text-gray-900 divide-y divide-gray-200 dark:divide-gray-700">
          <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg sm:text-md text-xs">Created at</dt>
            <dd class="text-md sm:text-lg font-semibold"><%= current_user.created_at.strftime("%B %d, %Y at %I:%M %p") %></dd>
          </div>
          <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg sm:text-md text-xs">Updated at</dt>
            <dd class="text-md sm:text-lg font-semibold"><%= current_user.updated_at.strftime("%B %d, %Y at %I:%M %p") %></dd>
          </div>
        </dl>
      </div>

      <div class="mt-6 mb-3 text-xs mx-auto space-y-4 xl:w-[80%] lg:w-[90%] md:w-[90%] sm:w-[85%] w-[90%]">
        <div class="">
          <%= button_to "Sign out",
            destroy_user_session_path, data: { turbo_method: :delete },
            method: :delete,
            class: "inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium " \
              "text-gray-900 bg-orange-200 border border-orange-200 rounded-lg hover:bg-orange-300 hover:text-primary-700 focus:outline-none " \
              "focus:ring-4 focus:ring-orange-200" %>
        </div>
    
        <div class="flex flex-col md:flex-row justify-between">
          <%= link_to 'Update Profile', profile_edit_path, class: 'text-blue-600 hover:underline', data: { turbo_frame: '_top' } %>
          <%= link_to 'Update Avatar', profile_avatar_path, class: 'text-indigo-600 hover:text-indigo-800', data: { turbo_frame: '_top' } %>
          <%= link_to 'Change Password', profile_password_path, class: 'text-blue-600 hover:underline', data: { turbo_frame: '_top' } %>
        </div>
      </div>
    </div>
  </div>
</div>
